{% extends 'utilizador/layout.html' %}
{% block content %}
{% load fegt9_mpg_proteksaun_url %}

		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">My Task </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
							<div class="row">
								<!-- ============================================================== -->
						  
								<!-- ============================================================== -->
	
											  <!-- recent orders  -->
								<!-- ============================================================== -->

								
					<br>					

								<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
									<div class="card">
										<div class="card-body p-0">
											<div class="tab-outline">



                                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                    <li class="nav-item ">
                                        <a href="{% url 'mytask:leavestatus' 'Pending'%}" class="nav-link {{tab_leavestatus}}" id="tab-outline-one" data-toggle="tab" href="#outline-one" role="tab" aria-controls="home" aria-selected="false">Leave</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="{% url 'mytask:travelstatus' 'Pending'%}" class="nav-link {{tab_travelstatus}}  " id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile" aria-selected="true">Trip</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="" class="nav-link {{tab_purchase}} " id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile" aria-selected="true">Purchase</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="" class="nav-link {{tab_medical}} " id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile" aria-selected="true">Medical</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="" class="nav-link {{tab_performance}} " id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile" aria-selected="true">Performance</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="" class="nav-link {{tab_recruitment}} " id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile" aria-selected="true">Online Recruitment</a>
                                    </li>
                                 

                                </ul>
                                <div class="tab-content" id="myTabContent2">

                                 

                   		<div class="table-responsive">
											{% if tab_leavestatus %}
												{% include 'mytask/leave.html' %}
                                            {% elif tab_travelstatus %}
												{% include 'mytask/travel.html' %}
											{% endif %}
											</div>
								

     
                                </div>
                            </div>

										</div>
									</div>
								</div>
								<!-- ============================================================== -->
								<!-- end recent orders  -->
	
		
								<!-- ============================================================== -->
								<!-- ============================================================== -->
								<!-- customer acquistion  -->
								<!-- ============================================================== -->
							
								<!-- ============================================================== -->
								<!-- end customer acquistion  -->
								<!-- ============================================================== -->
							</div>
				
						
						</div>

{% endblock content %}